header{
    display:flex;
    padding: 15px;
    justify-content: space-around;
}
nav a{
margin: 20px;
}

.card-container{
    display: flex;
    flex-direction: row;
}
.card{
    margin-right: 20px;
    text-align: center;
}

/* 
Challenge: Use flexbox in media queries to create a responsive layout 
*/


