header {
    display: flex;
    padding: 15px;
    justify-content: space-around;
}

nav a {
    margin: 20px;
}

.card-container {
    display: flex;
    flex-direction: row;
}

.card {
    margin-right: 20px;
    text-align: center;
}

.features {
    display: flex;
    text-align: center;
    margin: 20px;
    padding: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-section {
    display: flex;
    flex-direction: column;
    align-items: space-around;

}

.footer-section p {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
}

.social-links a {
    margin-right: 10px;
}

/* 
Challenge: Use flexbox in media queries to create a responsive layout 
*/
@media screen and (width <1000px) {
    header {
        padding: 0px;
    }

    .card-container {
        flex-direction: column;
        width: 300px;
        margin-left: auto;
        margin-right: auto;

    }

    .card {
        margin: 10px
    }

    .features {
        flex-direction: column;
    }
}

@media screen and (width <600px) {
    .footer-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center
    }

    .footer-section {
        margin-bottom: 20px;
    }

    .social-links a {
        margin-right: 0;
    }
}